html {
  font-size: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
    font-family: Arial, sans-serif;
    background-color: #cb5757;
    margin: 0;
    padding: 20px;
}

figure {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 400px; */
}

canvas {
    width: 100%;
}

.card {
    width: 80%;
    font-size: 1rem;
    background-color: rgb(75, 185, 221);
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.card h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}


.section {
    width: 340px;
    padding: 12px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.green-section {
    height: 50vh;
    width: 50vw;
    /* 
  Относительные единицы
    vh - viewport height
    vw - vieport width
    200vh - две высоты экрана устройства
    rem - относительно шрифта корневого элемента
    em - относительно родительского шрифта
    % относительно родительской ширины/высоты
    px пиксели 
    */
    background-color: lightgreen;
}

/* mobile first */

@media (min-width: 640px) {
    .section {
        width: 600px;
    }
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
    .section {
        width: 740px;
    }
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .section {
    width: 980px;
  }
  html {
    font-size: 16px;
  }
}

/* breakpoints */

/* 

Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }

*/

.container {
    font-size: 1rem;
    
}

.inner-box {
    font-size: 0,5em;
}

.inner-inner-box {
  font-size: 0.5em;
}
